<!DOCTYPE html>
<html>
<head>
    <title>Audio Recorder</title>
</head>
<body>

    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <h2>Record and Upload Audio</h2>
                <button onclick="startRecording()" id="record">Start Recording</button>
                <button onclick="stopRecording()" id="stop">Stop Recording</button>
                <span id="timer">00:00</span>
                <audio id="audio"></audio>
                
                <h1>Uploaded Audio Files</h1>

                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="audio_data">
                    <input type="submit" value="Generate Text">
                </form>
                <ul>
                    {% for file in files %}
                    <li>
                        <audio controls>
                            <source src="{{ url_for('uploaded_file', filename=file) }}">
                            Your browser does not support the audio element.
                        </audio><br>
                        {{file}}
                        <a href="../uploads/{{file.replace('.wav', '.txt')}}">{{ file.replace('.wav', '.txt') }}</a>
                        <!-- Display Sentiment Analysis -->
                        {% set sentiment_file = file.replace('.wav', '_sentiment.txt') %}
                            <strong>Sentiment Analysis:</strong>
                            <a href="../uploads/{{ sentiment_file }}">View Sentiment Analysis</a>
                            <br>
                    </li>
                    {% endfor %}
                </ul>

                <script src="script.js"></script>

            </td>
        </tr>
    </table>
</body>
</html>
